@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" ng-app="main">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control invisible"/>
        </div>
    </div>
    <div class="row" ng-controller="userlogin">
        <div class="col-md-5 panel">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label" for="usernamebox">User Name</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" ng-model="username" ng-disabled="alreadysignin" id="usernamebox" type="text"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="signin()" ng-disabled="alreadysignin" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 panel" ng-controller="sendmessage">
            <div class="row">
                <div class="col-md-12">
                    <textarea class="messageDisplay center-block form-control" rows="30" cols="70" disabled=""></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control invisible" />
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4">
                    <label class="control-label" for="messagebox">
                        Message
                    </label>
                </div>
                <div class="col-md-6">
                    <textarea ng-model="message" class="messageDisplay center-block form-control" rows="15" cols="50"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control invisible" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary center-block" ng-click="send()">Send</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary center-block">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/client.js"></script>